postman/          merge=ours
docs/             merge=ours
CLOUD_README.md   merge=ours
README.md         merge=ours
test.csv          merge=ours
Prototype/        merge=ours
deslop.pdf        merge=ours
test.csv merge=ours 
database/